<div class="header">
  <h1>Password Generator by Kylian19</h1>
</div>

<div class="content">
  <!-- field password length -->
  <div class="field">
    <label>Choose password length :</label>
    <input class="input" (input)="onChangeLength($event)">
  </div>
  <!-- field checkbox letters -->
  <div class="field">
    <label>
      <input (change)="onChangeUseLetters()" type="checkbox">
      Use letters ?
    </label>
  </div>
  <!-- field checkbox numbers -->
  <div class="field">
    <label>
      <input (change)="onChangeUseNumbers()" type="checkbox">
      Use numbers ?
    </label>
  </div>
  <!-- field checkbox symbols -->
  <div class="field">
    <label>
      <input (change)="onChangeUseSymbols()" type="checkbox">
      Use symbols ?
    </label>
  </div>
  <button [disabled]="!(length && (lettersInclude || numbersInclude || symbolsInclude))" (click)="onButtonClick()" class="button">Generate a password</button>
  <div class="password" *ngIf="password">
    <label>Password : </label>
    <input class="input" [value]="password">
  </div>
</div>

<div class="footer">

</div>
